html, body {
    
    max-width: 100vw;
    max-height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;

    cursor: default;

}

body {

    background-image: linear-gradient(90deg, rgb(14, 9, 8), rgba(26, 17, 17, 0.932));
    background-size: cover;

}

#democanva, #aux-canvas {
    position: absolute;

    border: 4px solid #175fdb;

    margin: 0;
    padding: 0;
}

#clip-space-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    width: 100%;

    padding: 10px;

    background-color: #3d3535d6;
    border: 1px solid white;

}

#clip-space-canvas {

    width: 150px;
    height: 150px;

    border: 4px solid #eceef1;

    margin: 0;
    padding: 0;
}

.canvas-container {

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#screen-space-controls {

    width: 100%;

    padding: 10px;

    background-color: #3d3535d6;
    border: 1px solid white;
}

#control-box {
    
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 40px;
    left: 40px;

    width: max-content;
    max-width: 100%;
    min-width: 200px;

    overflow-x: auto;

    background-color: #3d3535d6;

    color: #e6e6e6;
    font-weight: 500;
    font-size: 10pt;
    border: 1px solid white;
    padding: 10px;
    margin: 2px;
}

.control-box-title {
    color: #eee;
    margin: 10px;
}

.parameter-controler {
    display: flex;
    flex-direction: column;

    font-weight: 700;
}

#error-box {
    
    display: flex;
    flex-direction: column;

    bottom: 40px;
    left: 40px;

    width: max-content;
    max-width: 100%;
    min-width: 200px;

    overflow-x: auto;

    background-color: #3d3535d6;

    color: #fd8080;
    font-weight: 500;
    font-size: 10pt;
    border: 1px solid white;
    padding: 10px;
}

.error-box-title {
    color: #eee;
    margin: 10px;
}

.error-description {
    color: #db1758;
    font-weight: 700;
}

#left-painel {

    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    
    height: 100%;
    width: max-content;

    padding: 5vh 1vw;
    margin: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3vh;

}


#right-painel {

    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 100%;
    width: max-content;

    padding: 5vh 1vw;
    margin: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;

}

.code-box {
    display: flex; 
    flex-direction: column;
    
    width: 100%;

    color: white;

}

.code-snippet {

    height: 28vh;
    width: 100%;

    padding: 10px;


    overflow-y: scroll;

    background-color: #3d3535d6;

    border: 1px solid white;

    font-size: 10pt;

}

.code-line {
    color: white;
    white-space: nowrap;

    line-height: 20px;
}

#app-box {

    position: absolute;
    
    display: flex;
    flex-direction: column;
    gap: 0.5vw;

    bottom: 40px;
    right: 40px;

    width: max-content;
    max-width: 100%;
    min-width: 200px;

    overflow-x: auto;

    background-color: #3d3535d6;

    color: #fd8080;
    font-weight: 500;
    font-size: 10pt;
    border: 1px solid white;
    padding: 0.5vw;
}

.app-box-title {
    color: #eee;
    margin: 10px 0;
}

.app-description {
    color: #dbdbdbbe;
    font-weight: 700;
}

.vertex-coordinate {
    width: 50px;
    display: inline-flex;
    justify-content: center;
    padding: 5px 5px;
    
}

.vertex-color {
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    
}

.coordinates {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}

#library-selection-box {
    
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    width: max-content;
    max-width: 100%;
    min-width: 200px;

    padding-left: 10px;

    background-image: linear-gradient(90deg, rgba(26, 26, 26, 0.884) , rgba(41, 38, 38, 0.027));

    color: #fd8080;
    font-weight: 500;
    font-size: 10pt;
    border: 0px solid white;
    
    cursor: default;
}

#plataform-name {
    
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    width: max-content;
    max-width: 100%;
    min-width: 200px;

    padding-left: 10px;

    background-image: linear-gradient(90deg, rgba(26, 26, 26, 0.884) , rgba(41, 38, 38, 0.027));

    color: #fd8080;
    font-weight: 500;
    font-size: 10pt;
    border: 0px solid white;
    
    cursor: default;
}

option, select{
    border-radius: 0;
    text-decoration: none;
    background-color: gray;
}

.library-box-title {
    color: #eee;
    margin: 2px 0;
}

#skill, #technology, #session {
    background-color: transparent; 
    color: rgb(255, 180, 165);
    border-width: 0;
}

#geometries-painel {

    width: 100%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 10px;

    background-color: #3d3535d6;
    border: 1px solid white;

}

.object-image-button {

    padding: 3px;

    width: 30px;
    height: 30px;

    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.788);

    background-color: rgba(32, 32, 32, 0.89);

    opacity: 0.65;

    cursor: pointer;

}

.object-image-button:hover {

    scale: 1.05;
    opacity: 0.85;
    border-color: rgba(255, 255, 255, 1);

}

.object-type-image {
    width: 100%;
    height: 100%;
}